/* My First CSS */
#myName{
    color: red;
    margin: 20px;
    text-align: center;
}
#Software{
    color: bisque;
    font-size: large;
    padding: 20px;
}
.container{
    text-align: center;
    color: aqua;
}